*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.dwlt
.DS_Store

Untitled/Library/
Untitled/obj
Untitled/Build/
Untitled/Temp/
Untitled/Library/EditorUserBuildSettings.asset
Untitled/Library/AssetServerCacheV3
Untitled/Library/AssetImportState
Untitled/Library/InspectorExpandedItems.asset

Untitled/Library/shadercompiler-1.log
